{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'home/styles/main.css' %}">


</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand my-logo mx-2" href="{% url 'homepage' %}">Aqua</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mx-2" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link px-3" href="{% url 'notes' %}">Notes</a>
            <a class="nav-link px-3" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="nav-link px-3" href="{% url 'profile' %}">Profile</a>
            {% if user.is_authenticated %}
            <a class="nav-link px-3" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-link px-3" href="{% url 'login' %}">Login</a>
            {%endif%}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>




  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>
</body>
</html>