{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'home/images/favicon.png' %}"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="stylesheet" href="{% static 'home/styles/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %} {% endblock head%}
  </head>

  <header></header>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="logo">
          <a href="#"
            ><img src="{% static 'home/images/logo1.png' %}" alt="" width="100"
          /></a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Account</a></li>
            <li>
              <img
                style="margin-top: 18px; border-radius: 50%;"
                src="{% static 'home/images/DP.jpg' %}"
                width="30px"
                alt=""
              />
            </li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </nav>
    <section class="reg-home"></section>

    {% block content %}{% endblock %}

    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="{% static 'home/scripts/homepage.js' %}"></script> -->

    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
      $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
          $(".nav").addClass("affix");
          console.log("OK");
        } else {
          $(".nav").removeClass("affix");
        }
      });
    </script>
  </body>

  <!-- <script src="{% static 'home/scripts/homepage.js' %}"></script> -->
</html>
