{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <img class="rounded-circle account-img" src="{{user.profile.image.url}}" width="200" />
      <div class="media-body">
        <h2 class="h1">@{{user.username}}</h2>
        <p class="text-info">{{user.email}}</p>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row ">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Profile</legend>
            {{u_form|crispy}}

            {{p_form|crispy}}
          </fieldset>
          <div class="form-group my-3">
            <button class="btn my-btn-primary mb-3" type="submit">Update</button>
            <a class="btn my-btn-secondary mx-3 mb-3" href="{% url 'password_reset' %}">Update Password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}